nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(5, 3, 3, 0.4);
  position: fixed;
  z-index: 4;
  top: 0;
  height: 62px;
  width: 100%; }
  nav a {
    color: white; }
  nav .name {
    cursor: pointer; }
    nav .name a {
      color: white;
      margin-left: 35px;
      padding-top: 15px;
      padding-bottom: 15px; }
  nav .burger {
    height: 20px;
    width: 25px;
    margin-right: 35px;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      nav .burger {
        display: none; } }
  nav .nav-links {
    display: none; }
    nav .nav-links .icons a {
      padding: 10px; }
    nav .nav-links #projectList, nav .nav-links #cv {
      padding-left: 15px; }
    @media screen and (min-width: 768px) {
      nav .nav-links {
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 36px;
        font-size: 12px;
        font-weight: 400; }
        nav .nav-links #projectList {
          line-height: 4;
          padding-left: 0px; }
        nav .nav-links #cv {
          margin-left: 30px;
          margin-right: 20px;
          padding-top: 15px;
          padding-left: 0px;
          padding-bottom: 15px; } }
  nav #navLinks {
    position: absolute;
    right: 0;
    top: 62px;
    height: 100vh;
    width: 40%;
    background-color: inherit;
    color: white;
    display: none; }
    nav #navLinks div {
      cursor: pointer;
      padding-top: 25px;
      color: white; }
  nav .icons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between; }
    @media screen and (min-width: 768px) {
      nav .icons {
        margin: 0; } }

@media screen and (min-width: 1440px) {
  nav {
    background-color: rgba(5, 3, 3, 0);
    padding-left: 150px;
    padding-right: 150px; } }
body {
  font-family: Roboto; }

header {
  height: 380px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url(../../images/page-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative; }

.wrapper {
  background-color: #E5E5E5; }
  .wrapper main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .wrapper main .container {
      position: relative;
      margin-top: -50px;
      z-index: 2;
      background-color: white;
      width: 90vw;
      border-radius: 5px;
      box-shadow: 3px 7px 22px 1px rgba(0, 0, 0, 0.54); }
      .wrapper main .container h1 {
        margin-top: 50px;
        margin-bottom: 30px;
        text-align: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px; }
        @media screen and (min-width: 768px) {
          .wrapper main .container h1 {
            font-size: 36px;
            line-height: 48px; } }
      .wrapper main .container .project {
        margin-left: 12px;
        margin-right: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .wrapper main .container .project img {
          margin-bottom: 40px;
          width: 100%; }
        .wrapper main .container .project p {
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          font-weight: 300;
          margin-bottom: 20px;
          color: #999999; }
          @media screen and (min-width: 768px) {
            .wrapper main .container .project p {
              font-size: 18px;
              line-height: 21px; } }
        .wrapper main .container .project .btn {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          background-color: #9C27B0;
          font-size: 12px;
          line-height: 14px;
          font-weight: 400;
          width: 148px;
          height: 41px;
          border-radius: 5px;
          margin-bottom: 50px;
          box-shadow: 3px 5px 18px -5px #000000; }
          .wrapper main .container .project .btn a {
            color: white;
            padding: 10px 40px; }
      .wrapper main .container .tech-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-bottom: 40px; }
        .wrapper main .container .tech-stack :not(:last-child) {
          margin-right: 6px; }
        .wrapper main .container .tech-stack .tech {
          background-color: #9C27B0;
          color: white;
          font-size: 10px;
          line-height: 11px;
          font-weight: 500;
          border-radius: 15px;
          padding: 5px 11px; }
  .wrapper footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    margin: auto; }
    .wrapper footer .footer-links {
      width: 100%;
      margin-bottom: 20px; }
      .wrapper footer .footer-links ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .wrapper footer .footer-links ul li {
          display: inline; }
          .wrapper footer .footer-links ul li a {
            text-decoration: none;
            color: #3C4858;
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 10px; }
    .wrapper footer .copyright {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 30px; }
  @media screen and (min-width: 768px) {
    .wrapper footer {
      flex-direction: row;
      justify-content: space-between;
      width: 80vw; }
      .wrapper footer .footer-links {
        max-width: 40%; } }
  @media screen and (min-width: 1440px) {
    .wrapper footer .footer-links {
      max-width: 30%; } }
  .wrapper footer {
    margin-top: 30px; }

@media screen and (min-width: 1440px) {
  .wrapper main .container {
    padding-left: 140px;
    padding-right: 140px; }
    .wrapper main .container h1 {
      margin-top: 90px;
      font-size: 42px;
      line-height: 55px; }
    .wrapper main .container .project {
      margin-left: 70px;
      margin-right: 70px; }
      .wrapper main .container .project p {
        line-height: 24px; }
      .wrapper main .container .project .btn {
        margin-bottom: 90px; } }

/*# sourceMappingURL=mobile.css.map */
