/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 5 version
*/

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(5, 3, 3, 0.4);
  position: fixed;
  z-index: 4;
  top: 0;
  height: 62px;
  width: 100%; }
  nav a {
    color: white; }
  nav .name {
    cursor: pointer; }
    nav .name a {
      color: white;
      margin-left: 35px;
      padding-top: 15px;
      padding-bottom: 15px; }
  nav .burger {
    height: 20px;
    width: 25px;
    margin-right: 35px;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      nav .burger {
        display: none; } }
  nav .nav-links {
    display: none; }
    nav .nav-links .icons a {
      padding: 10px; }
    nav .nav-links #projectList, nav .nav-links #cv {
      padding-left: 15px; }
    @media screen and (min-width: 768px) {
      nav .nav-links {
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 36px;
        font-size: 12px;
        font-weight: 400; }
        nav .nav-links #projectList {
          line-height: 4;
          padding-left: 0px; }
        nav .nav-links #cv {
          margin-left: 30px;
          margin-right: 20px;
          padding-top: 15px;
          padding-left: 0px;
          padding-bottom: 15px; } }
  nav #navLinks {
    position: absolute;
    right: 0;
    top: 62px;
    height: 100vh;
    width: 40%;
    background-color: inherit;
    color: white;
    display: none; }
    nav #navLinks div {
      cursor: pointer;
      padding-top: 25px;
      color: white; }
  nav .icons {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (min-width: 768px) {
      nav .icons {
        margin: 0; } }

@media screen and (min-width: 1440px) {
  nav {
    background-color: rgba(5, 3, 3, 0);
    padding-left: 150px;
    padding-right: 150px; } }
body {
  font-family: Roboto; }

header nav {
  background-color: #9c27b0; }

main {
  background-color: #E5E5E5; }
  main h1 {
    text-align: center;
    padding-top: 134px;
    margin-bottom: 70px;
    font-size: 42px;
    font-weight: 500; }
    @media screen and (min-width: 768px) {
      main h1 {
        font-size: 48px; } }
  main .container {
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 7px 22px 1px rgba(0, 0, 0, 0.54);
            box-shadow: 3px 7px 22px 1px rgba(0, 0, 0, 0.54); }
    main .container .form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      main .container .form p {
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 12px;
        margin-right: 12px;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        font-weight: 300;
        color: #999999; }
        @media screen and (min-width: 768px) {
          main .container .form p {
            line-height: 24px; } }
      main .container .form form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 95%; }
        main .container .form form input {
          width: 100%;
          height: 40px;
          margin-bottom: 40px;
          border: none;
          border-bottom: 1px solid #D2D2D2; }
        main .container .form form textarea {
          resize: none;
          width: 100%;
          height: 92px;
          border: none;
          border-bottom: 1px solid #D2D2D2;
          margin-bottom: 40px; }
        main .container .form form .btn {
          background-color: #9C27B0;
          font-size: 12px;
          line-height: 14px;
          font-weight: 400;
          padding: 14px 46px;
          border-radius: 5px;
          margin-bottom: 50px;
          color: white;
          -webkit-box-shadow: 3px 5px 18px -5px #000000;
                  box-shadow: 3px 5px 18px -5px #000000; }
    main .container .contact-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      main .container .contact-container .contact-heading {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px; }
        @media screen and (min-width: 768px) {
          main .container .contact-container .contact-heading {
            line-height: 32px;
            font-size: 28px; } }
      main .container .contact-container .contact-icons {
        margin-bottom: 50px; }
        @media screen and (min-width: 768px) {
          main .container .contact-container .contact-icons {
            margin-bottom: 70px; } }
      main .container .contact-container .contact-button {
        width: 148px;
        height: 41px;
        background-color: #9C27B0;
        color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        border-radius: 5px;
        -webkit-box-shadow: 3px 7px 13px -3px rgba(0, 0, 0, 0.72);
                box-shadow: 3px 7px 13px -3px rgba(0, 0, 0, 0.72);
        margin-bottom: 50px; }

@media screen and (min-width: 1440px) {
  main h1 {
    font-size: 53px;
    line-height: 62px; }
  main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    main .container .form {
      width: 60%; }
      main .container .form p {
        margin-top: 90px; }
      main .container .form form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        main .container .form form :nth-child(2) {
          margin-left: 20px; }
        main .container .form form input {
          width: 48.5%;
          display: inline; }
    main .container .contact-container .contact-heading {
      font-size: 36px;
      line-height: 42px; } }
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  margin: auto; }
  footer .footer-links {
    width: 100%;
    margin-bottom: 20px; }
    footer .footer-links ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      footer .footer-links ul li {
        display: inline; }
        footer .footer-links ul li a {
          text-decoration: none;
          color: #3C4858;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
          padding: 10px; }
  footer .copyright {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px; }

@media screen and (min-width: 768px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 80vw; }
    footer .footer-links {
      max-width: 40%; } }
@media screen and (min-width: 1440px) {
  footer .footer-links {
    max-width: 30%; } }